diff --git a/app/views/layouts/application.html.erb b/app/views/layouts/application.html.erb
index c4dd07c..2a993f1 100644
--- a/app/views/layouts/application.html.erb
+++ b/app/views/layouts/application.html.erb
@@ -1,13 +1,72 @@
 <!DOCTYPE html>
-<html>
+<html lang="en">
   <head>
+    <meta charset="utf-8">
+    <meta http-equiv="X-UA-Compatible" content="IE=edge">
+    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
+    <%= display_meta_tags site: Rails.application.config.app_name, reverse: true %>
     <%= csrf_meta_tags %>
 
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
+    <% if Rails.env.production? && !(user_signed_in? && current_user.has_role?(:admin)) %>
+      <%# render "shared/analytics" %>
+    <% end %>
   </head>
 
   <body>
-    <%= yield %>
+    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
+      <div class="container">
+        <%= link_to Rails.application.config.app_name, user_signed_in? ? signed_in_root_path : root_path, class: "navbar-brand" %>
+        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
+          <span class="navbar-toggler-icon"></span>
+        </button>
+        <div class="collapse navbar-collapse" id="navbarSupportedContent">
+          <ul class="navbar-nav mr-auto">
+            <% if user_signed_in? %>
+            <% end %>
+          </ul>
+          <ul class="navbar-nav">
+            <% if user_signed_in? %>
+              <li class="nav-item dropdown">
+                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
+                  <%= current_user.email %>
+                </a>
+                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
+                  <% if current_user.has_role?(:admin) %>
+                    <%= link_to "Users", admin_users_path, class: "dropdown-item" %>
+                    <div class="dropdown-divider"></div>
+                  <% end %>
+                  <%= link_to "Profile", edit_account_path, class: "dropdown-item" %>
+                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
+                </div>
+              </li>
+            <% else %>
+              <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
+              <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
+            <% end %>
+          </ul>
+        </div>
+      </div>
+    </nav>
+    <div class="container">
+      <div id="flash">
+        <% flash.each do |key, value| %>
+          <% key = :error if key == :failure %>
+          <div class="alert alert-<%= key %> alert-dismissable">
+            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
+            <%= value %>
+          </div>
+        <% end %>
+      </div>
+      <div id="main">
+        <%= yield %>
+      </div>
+    </div>
+    <div id="footer">
+      <div class="container">
+        <p class="text-center"><%= Rails.application.config.app_name %> &copy; 2017 &mdash; Powered by <a href="//www.agilereasoning.com"><%= image_tag 'AgileLogo_32.png', alt: 'Agile Reasoning logo', size: '32x34' %></a></p>
+      </div>
+    </div>
   </body>
 </html>
