!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @page_title || ::Baseline::AppName
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :javascript
    - if Rails.env.production? && !(user_signed_in? && current_user.has_role?(:admin))
      = render 'analytics'
  %body
    .container
      %header#masthead
        %h1= @page_title || ::Baseline::AppName
        %p
          - if user_signed_in?
            = current_user.email
            \/
            = link_to "Sign out", destroy_user_session_path, :method => :delete
          - else
            = link_to "Sign up", new_user_registration_path
            or 
            = link_to "Sign in", new_user_session_path
      %nav#menu
        %ul
          %li= menu_link "Home", user_signed_in? ? user_root_path : root_path
          - if user_signed_in?
            %li= menu_link "Profile", edit_account_path
            - if current_user.has_role?(:admin)
              %li
                = menu_link "Admin", "#"
                %ul
                  %li= menu_link 'Users', admin_users_path
      #flash
        - flash.each do |key, value|
          - key = :error if key == :failure
          %div{:class => key}= html_escape(value)
      %section#main
        = yield
      %footer
        .center
          #{::Baseline::AppName} is a service of Agile Reasoning &copy; 2012
