<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :email, "Email *" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :name, "Name *" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password, @user.new_record? ? "Password *" : "Change Password *" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Password Confirmation *" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :roles %>
    <div class="choices">
      <% for role in Role.find(:all) %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :id => "user_role_#{role.title.underscore}" %>
        <%= label_tag "user_role_#{role.title.underscore}", role.title.titleize %>
        <br />
      <% end %>
    </div>
  </div>
  <div class="buttons">
    <%= f.submit @user.new_record? ? 'Create' : 'Update' %>
  </div>
<% end %>
