<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email, "Email *" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :password, @user.new_record? ? "Password *" : "Change Password *" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Password Confirmation *" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :roles %>
    <div class="choices">
      <% for role in Role.find(:all) %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :id => "user_role_#{role.title.underscore}" %>
        <%= label_tag "user_role_#{role.title.underscore}", role.title.titleize %>
        <br />
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit @user.new_record? ? 'Create' : 'Update' %>
  </div>
<% end %>
